<html lang="en">
<%- include('../partials/head') %>
<body>

<%- include('../partials/nav') %>

<div class="blogs content">
    <h2>All Blogs</h2>

    <% if (blogs.length > 0) { %>
        <% blogs.forEach(blog => { %>

<!--            <p class="text"><%= blog.id %></p>-->
            <h3 class="title title-index"><a class="a-title" href="/blogs/<%= blog.id %>"><%= blog.title %></a></h3>
            <button class="edit-button"><a href="/blogs/edit/<%= blog.id%>">Edit</a></button>
            <div class="delete-div">
                <form action="/blogs/<%= blog.id %>?_method=DELETE" method="post">
                    <button type="submit">Delete</button>
                </form>
            </div>

            <p class="text"><%= blog.text %></p>




            <hr>
        <% }) %>
    <% } else { %>
        <p>There are no blogs to display...</p>
    <% } %>

</div>

<%- include("../partials/footer.ejs") %>
</body>
</html>
