<%- include('../partials/upper') %>

<div class="cards p-10 mt-20">
    <% if (blogs.length > 0) { %>
        <% blogs.forEach(blog => { %>
            <div class="card my-10 flex justify-between">
                <div class="text-start">
                    <div class="text-2xl font-bold border-b-2 border-gray-300"><a
                                href="/blogs/<%= blog.id %>"><%= blog.title %></a></div>
                    <div class="text-xl font-light"><%= blog.body %></div>
                </div>
                <% if (blog.user.id === user.id) { %>
                <div class="methods flex">
                    <div>
                        <a class="px-3 pt-1.5 pb-1.5 mx-1 inline-block rounded-full uppercase text-base font-bold text-yellow-300 hover:bg-yellow-300 hover:text-white"
                           href="/blogs/<%= blog.id %>/edit">Edit</a>
                    </div>
                    <form action="/blogs/<%= blog.id %>?_method=DELETE" method="post">
                        <button class="px-3 pt-1.5 pb-1.5 mx-1 inline-block rounded-full uppercase text-base font-bold text-rose-700 hover:bg-rose-700 hover:text-white"
                                type="submit">Delete
                        </button>
                    </form>
                </div>
                <% } %>
            </div>
        <% }) %>
    <% } else { %>
        <p class="text-2xl font-bold">There are no blogs to display ...</p>
    <% } %>
</div>


<%- include('../partials/lower') %>
