<html lang="en">
<%- include('../partials/head') %>
<body>

<%- include('../partials/nav') %>

<div class="blogs content">

    <h3 class="title"><%= blog.title %></h3>
    <br>
    <p class="text"><%= blog.text %></p>
    <hr>

</div>

<%- include("../partials/footer.ejs") %>
</body>
</html>
